/*RTL CSS*/

.searchbox .wp-block-categories-dropdown select {
  padding: 12px 12px;
  width: 165px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #E7E7E6;
  background: transparent;
  position: relative;
  border-left: 0px !important;
}
.wp-block-image img{
  vertical-align: unset;
}
.search-box button.wp-block-search__button.has-icon.wp-element-button {
  background: transparent;
  padding: 5px 0px;
}
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li a {
  color: #000;
}
.header-menu .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li a span.wp-block-navigation-item__label:hover{
  padding: 0px;
  background: transparent;
}
.currency-box form.woocommerce-currency-switcher-form.woocs_show_flags br {
  display: none;
}
.currency-box p{
  display: none;
}
select.gt_selector.notranslate {
  background: transparent;
  border: 0px;
}
.chosen-container-single .chosen-single span{
  color: #000;
}
.woocommerce-currency-switcher-form .chosen-container-single .chosen-single div {
  background: transparent !important;
  border: 0px !important;
}
.woocommerce-currency-switcher-form .chosen-container-single .chosen-single {
  background: transparent !important;
  box-shadow: none !important;
  color: #000;
}
.search-box .wp-block-search__inside-wrapper {
  padding: 3.5px 30px 3.5px 10px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #E7E7E6;
  border-right: 0px;
}
.header-search{
  position: relative;
}
.searchbox ::placeholder {
  opacity: 1;
  color: #6D758D;
  font-family: Figtree;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: right;
}
.product-content h5,.product-content h6,.product-content{
  margin-top: 10px !important;
}
.price-box p span{
  color: #a7a7a7;
}
.price-box{
  margin-top: 10px !important;
  justify-content: space-between;
}
.price-box p {
  padding: 4px 0px;
}
.product-img{
  width: 100%;
}
.header-menu span.wp-block-navigation-item__label:hover {
  padding: 19px 15px;
  background: #FFDA00;
  color: #000;
}
.header-menu .menu-box {
  gap: 50px;
  padding: 0px;
}
.searchbox ::-ms-input-placeholder {
  color: red;
  }
.header-search:after {
  content: "";
  width: 2px;
  background: #E7E7E6;
  height: 25px;
  position: absolute;
  top: 9px;
  left: -15px;
}
.searchbox .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-2.wp-block-columns-is-layout-flex {
  gap: 0px !important;
}
.homepage-header {
  padding: 0 !important;
}
.homepage-header {
  position: relative;
  width: 100%;
}
.home .homepage-header {
  padding: 0 !important;
  position: absolute;
  width: 70%;
  right: 0px;
  left: 0px;
  z-index: 999;
  margin: 0 auto;
  background: #fff;
  border-radius: 0;
}
.banner-box-2 {
  background-size: 100% 100%;
  width: 16%;
  padding: 10px 24px;
  box-shadow: 0px 4px 30px 0px #000000;
  bottom: 7%;
  position: absolute;
  border-radius: 10px;
  left: 29%;
}
.product-content h6{
  position: relative;
}
.product-content h6:after {
  content: "";
  position: absolute;
  width: 85px;
  bottom: -6px;
  right: 0px;
  border: 1px solid #FF681A;
}
.color-word{
  color: #FF681A;
  font-weight: 600 !important;
}
.banner-box-1 {
  position: absolute;
  width: 11%;
  padding: 7px 10px 0px 10px !important;
  top: 9%;
  left: 29%;
  box-shadow: 0px 4px 24px 0px #000000;
}
.banner-box-1 .box-1row{
  gap:0px;
}
.menu-box{
  margin-top: 0 !important;
  padding: 12px 0;
}
.slider-area{
  margin: 0;
}
.wp-site-blocks{
  padding: 0 !important;
}
.product-main img {
  width: 100%;
}
.toggle-icon img {
  top: -7px;
  position: relative;
}
.banner-main{
  position: relative;
}
.slider-banner {
  gap: 40px;
}
.home .main-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  background: transparent !important;
}
.slide-img {
  position: absolute;
  left: 0px;
  bottom: 6%;
}
.slider-img img{
  width: 100%;
}
.counter-box {
  border-radius: 10px;
}
.is-head-menu li a:hover {
  text-decoration: none;
}
.is-head-menu li a:hover {
  text-decoration: none;
  border-top: 2px solid #FF681A;
}

.is-head-menu li a:hover span {
  color: #FF681A;
}
.counter-box:hover {
  background-color: #FF681A !important;
}
.counter-box:hover h3{
  color: #fff !important;
}
.slider-content {
  right: 128px;
  position: relative;
}
.search-btn{
  text-align: left !important;
}
.search-btn .wp-block-search.wp-block-search__button-only .wp-block-search__button:hover {
  color: #000;
}
.search-btn .wp-block-search.wp-block-search__button-only .wp-block-search__button:focus{
  color: #000;
}
.search-btn .wp-block-search.wp-block-search__button-only .wp-block-search__inside-wrapper {
  float: left;
}
.search-btn .wp-block-search.wp-block-search__button-only .wp-block-search__button {
  background: transparent;
  padding: 0px
}
.contact-box {
  display: inline-block;
  padding: 20px 131px 15px 10px;
  width: 40%;
  position: absolute;
  border-radius: 45px 0px 0px 45px;
  right: -14%;
}
.slide-img img.wp-image-66 {
  z-index: 1;
  position: relative;
}
.slide-img {
  position: absolute;
  left: -45px;
  bottom: 6%;
}
.short-heading {
  display: inline-block;
  border-radius: 30px;
  padding: 8px 20px !important;
}
footer.wp-block-template-part {
  margin-top: 0;
}
@media screen and (max-width: 375px) {
  .main-header .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex{
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  span.wp-block-navigation-item__label {
    color: #000;
  }
  .menu-box a.wp-block-navigation-item__content {
    color: #000 !important;
  }
  .menu-box .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container{
    padding-top: 0px;
  }
}
@media screen and (min-width: 801px) {
  .menu-box {
    padding-right: 45px;
  }
}
@media screen and (min-width: 320px) and (max-width: 781px) {
  .slider-banner{
    text-align: center;
  }
  .slider-banner .wp-block-buttons {
    justify-content: center;
  }
  .product-content h6:after{
    margin: 0 auto;
    right: 0px;
    left: 0px;
  }
  .price-box{
    justify-content: center;
  }
  .slider-banner p{
    text-align: center;
  }
  .banner-box-1 .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column{
    flex-basis: 50% !important;
  }
  .banner-box-2 .wp-block-column.is-vertically-aligned-center{
    flex-basis: 45% !important;
  }
}
 
@media screen and (min-width: 782px) and (max-width: 1200px) {
  .slider-banner{
    text-align: right !important;
  }
  .heading-banner {
    font-size: 28px !important;
  }
  .slider-banner p{
    font-size: 12px !important;
  }
  .product-content{
    text-align: right;
  }
  .product-content h5 {
    font-size: 22px !important;
  }
  .head-btn {
    flex-basis: 21% !important;
  }
  .head-btn a{
    font-size: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  .header-area .wp-container-core-buttons-layout-1.wp-container-core-buttons-layout-1 {
    justify-content: center;
  }
  .topheader-area .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
    text-align: center;
  }
  .search-btn .wp-block-search.wp-block-search__button-only .wp-block-search__inside-wrapper {
    float: none;
    justify-content: center;
  }
  .head-btn .wp-block-buttons.is-content-justification-right{
    justify-content: center;
  }
  .slider-content {
    right: 0px;
    position: relative;
  }
  .banner-box-1 .main-wrapper {
    display: grid !important;
    grid-template-columns: auto auto !important;
  }
  .banner-box-1 {
    position: relative;
    width: 100%;
    left: 0px;
  }
  
  .banner-img figure.wp-block-image.alignright.size-full.is-resized {
    margin-inline-start: 0em !important;
  }
  .product-main{
    text-align: center;
  }
  .product-box{
    padding-left: 0px !important;
  }
  .banner-box-2 {
    width: 100%;
    position: relative;
    left: 0;
  }
  .contact-box p{
    text-align: right !important;
  }
  .contact-box {
    display: inline-block;
    padding: 20px 66px 15px 10px;
    width: 100%;
    position: relative;
    border-radius: 45px 0px 0px 45px;
    right: -5%;
  }
  .header-cat {
    width: 100%;
    border: 1px solid #E7E7E6;
    border-radius: 10px;
    margin-bottom: 10px !important;
  }
  .search-box .wp-block-search__inside-wrapper{
    border-radius: 8px !important;
    border: 1px solid #E7E7E6 !important;
  }
  .searchbox .wp-block-categories-dropdown select{
    border: 0px;
  }
  .header-search:after{
    display: none;
  }
  .topheader-area .social-box{
    justify-content: center !important;
  }
  .wp-block-cover, .wp-block-cover-image{
    min-height: 430px;
  }
  .header-area h5{
    text-align: center;
  }
  .meta-box,.top-text{
    justify-content: center !important;
  }
  .header-area{
    text-align: center;
  }
  .product-heading{
    text-align: center;
  }
  .header-menu .menu-box {
    gap: 10px !important;
  }
  .main-header{
    text-align: center;
  }
  .slide-btn{
    justify-content: center !important;
  }
  .about-text-box,.about-image-box {
    text-align: center;
  }
  .product-main {
    max-width: 90% !important;
  }
 
  .main-header nav{
    justify-content: center !important;
  }
  .slide-img {
    right: 0px;
    left: 0px;
  }
  .about-right {
    text-align: center;
    padding: 0px 10px
  }
  .logo-box {
    justify-content: center;
    display: flex;
  }
  .menu-box {
    justify-content: center;
    display: flex;
  }
  .slider-content {
    padding: 20px 14px;
  }
  .admin-bar .wp-block-navigation__responsive-container-close {
    color: #000;
    top:15px;
  }
  .slider-banner {
    gap: 20px;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container{
    justify-content: center !important;
  }
  .homepage-header{
      position: static;
      width: 100%;
      text-align: center;
    }
  .homepage-header .wp-header-search-social{
    justify-content: center;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .product-main{
    max-width: 100% !important;
  }
  .slider-content {
    right: 50px;
    position: relative;
  }
  .banner-box-2 {
    width: 32%;
  }
  .contact-box {
    padding: 20px 54px 15px 10px;
    width: 55%;
  }
  .banner-box-1 {
    width: 25% !important;
  }
  .searchbox .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex,.meta-box{
    gap:10px !important;
  }
  .top-bar,.header-area-box{
    max-width: 100% !important;
    gap: 10px;
  }
  .price-box ,.social-box,.has-small-icon-size{
    gap: 10px !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1720px) {
  .banner-box-2 {
    width: 23%;
  }
  .slider-content {
    right: 80px;
    position: relative;
  }
  .banner-box-1 {
    width: 16%;
  }
  .contact-box {
    padding: 20px 130px 15px 10px;
    width: 63%;
    right: -22%;
  }
}
@media screen and (min-width: 601px) and (max-width: 781px) {
  .banner-box-1 {
    width: 45% !important;
    margin: 0 auto;
    margin-bottom: 20px !important;
  }
  .banner-box-2 {
    width: 46%;
    margin: 0 auto;
  }
  .meta-box{
    display: grid !important;
    grid-template-columns: auto auto auto !important;
  }
}
@media screen and (min-width: 782px) and (max-width: 1420px) {
  .counter-box {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .counter-box h6 {
    font-size: 11px !important;
    line-height: 22px;
  }
  .counter-box h3 {
    font-size: 30px !important;
    line-height: 40px;
  }
  .about-right h3{

  }
}

.wc-block-mini-cart.wp-block-woocommerce-mini-cart,.wp-block-woocommerce-customer-account {
  display: none;
}